<form id="contact-form" class="contact-form" action="https://formspree.io/ulinaaron@gmail.com"" method="POST" accept-charset="UTF-8">
 	<input type="hidden" name="utf8" value="✓">
	<input class="input-name" type="text" name="name" placeholder="Your Name" required>
	<input type="email" name="_replyto" placeholder="Your Email" required>
	<textarea name="message" placeholder="What say you?" required></textarea>
	<button type="submit">Send</button>
</form>