<form class="contact-form" accept-charset="UTF-8" action="https://formkeep.com/f/500d63a26014" method="POST">
 	<input type="hidden" name="utf8" value="✓">
	<input type="text" name="name" placeholder="Your Name">
	<input type="email" name="email" placeholder="Your Email">
	<textarea name="message" placeholder="What say you?"></textarea>
	<button type="submit">Send</button>
</form>