<form id="contact-form" class="contact-form" action="https://formlets.com/f/56e639353735111b2d934dbe" method="POST" accept-charset="UTF-8">
 	<input type="hidden" name="utf8" value="✓">
	<input type="text" name="name" placeholder="Your Name" required>
	<input type="email" name="email" placeholder="Your Email" required>
	<textarea name="message" placeholder="What say you?" required></textarea>
	<button type="submit">Send</button>
</form>