<footer id="footer" class="footer">
	<div class="group contact-section">
		<div class="narrow  wow fadeIn">
			<h4 class="group-title">Leave a message</h4>
			<%- partial('contact-form') %>
		</div>
	</div>
	<div class="group social-section">
		<div class="narrow  wow fadeIn">

			<h4 class="group-title">Find Me</h4>
			<ul class="social-list">
				<li><a href="https://twitter.com/ulinaaron">Twitter</a></li>
				<li><a href="http://github.com/ulinaaron">Github</a></li>
			</ul>

			<h4 class="group-title">Resume &amp; CV</h4>
			<ul class="social-list">
				<li>
					<a href="http://www.linkedin.com/in/aaronmazade">View CV on LinkedIn</a>
				</li>
			</ul>

			<div id="footer-info" class="colophon inner">
				<p>
					Designed and developed by Aaron Mazade. Built with Harp, Gulp, EJS, Sass, Bourbon, Jeet, WOW.js, and a whole lot of &#9825;.
				</p>
			</div>
		</div>
	</div>
</footer>