<footer id="footer" class="footer">
	<div class="group contact">
		<div class="narrow">
			<h4 class="group-title">Leave a message</h4>
			<%- partial('contact-form') %>
		</div>
	</div>
	<div class="group social">
		<div class="narrow">

			<h4 class="group-title">Find Me</h4>
			<ul class="social-list">
				<li><a href="#">Twitter</a></li>
				<li><a href="#">Github</a></li>
			</ul>

			<h4 class="group-title">Resume &amp; CV</h4>
			<ul class="social-list">
				<li>
					<a href="http://www.linkedin.com/in/aaronmazade">View CV on LinkedIn</a>
				</li>
			</ul>

			<div id="footer-info" class="inner">
				<p class="copyright">
					<%= copyright %>
				</p>
			</div>
		</div>
	</div>
</footer>