<!DOCTYPE html>
<html class="<%= current.source %>">
<head>
  <title><%= site_title %> - <%= title %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Quattrocento:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="<%= env_root %>/assets/styles/main.css" type="text/css">
</head>