
<div class="reference-container">
    <h3 class="sub-title reference-title">
        References
    </h3>
    
    <div class="reference-item">
        <h4 class="reference-name">Chad Lawie</h4>
        <h5 class="role-title">Co-Founder at LongerDays.com</h5>

        <blockquote>
            <p>I will not waste your time. Aaron is exceptionally gifted and I would hire him back in an instant. </p>

            <p>During his employment at LongerDays.com his responsibilities included user experience, graphic design, web development, marketing, business strategy, and new product developement.</p>

            <p>Aaron’s shining character traits include dedication, indefatigability, and prudence. </p>

            <p>I advise you to hire him. </p>
       </blockquote>
    </div> <!-- /.reference-item -->
    
    <div class="reference-item">
        <h4 class="reference-name">John Scianna</h4>
        <h5 class="role-title">Art Director at Revel</h5>

        <blockquote>
            <p>
                Aaron is an awesome guy that I really enjoyed working with. We collaborated closely on several projects and he always went the extra mile. He never settled for good enough; it's refreshing to work with a developer who takes initiative on a project and on tries new things. He has a great mind for user experience, not only solving complex problems, but also identifying problem areas that others never thought of.
            </p>
       </blockquote>
    </div> <!-- /.reference-item -->
    
    <div class="reference-item">
        <h4 class="reference-name">Andrej Ciho</h4>
        <h5 class="role-title">Technical Team Lead at XWP</h5>

        <blockquote>
            <p>
                Aaron is very thorough and can be relied on to deliver solid, thought-out work. He takes his craft seriously, is passionate about best practices in the industry and is not afraid to take on complex high-stakes tasks.
            </p>
       </blockquote>
    </div> <!-- /.reference-item -->
    
    <div class="reference-item">
        <h4 class="reference-name">Trey Kane</h4>
        <h5 class="role-title">Front-End Developer at Red Ventures</h5>

        <blockquote>
            <p>I’ve had the pleasure of hiring and working with Aaron twice in my career. He is a hard working, passionate developer who understands the intricacies of modern web development. We worked together at LongerDays.com and Revel Marketing. During both employments, I was his manager and worked closely together on most projects.</p>

            <p>Aaron’s development talent never fails to amaze me; he is always learning new things and growing his skillset so that he can be a more effective and productive developer. In our time working together, I never gave him a challenge that he could not overcome, and his work is always of the highest quality. Even though we don’t work together anymore, I still go to him for advice and to discuss new concepts and ideas.</p>

            <p>Aaron is a team member to his core, supporting and doing everything he can to help the team succeed. Sometimes that means helping fellow developers learn a new technique and sometimes it means putting in extra time to meet a new deadline or change of product scope. No matter what, I always knew I could rely on Aaron to put his team first and make it happen. </p>

            <p>The other thing that I believe makes Aaron a standout Front End Developer is his passion and understanding for User Interface and Web Design. While working with him at LongerDays.com, he would often design his projects as well as handle the development work needed. This makes him incredibly valuable in a creative capacity, as he has a deep understanding of the best solutions to design problems on the web. </p>

            <p>I would not hesitate to hire Aaron again, in any web development or design capacity.  He is a great team member, and an all around great person. I have no doubt he would be an asset to your organization.</p> 
       </blockquote>
    </div> <!-- /.reference-item -->
</div>