<div class="resume-container">
    <header class="resume-header">
        <div class="title-section clearfix">
            <h2 class="title">
                Aaron W. Mazade
            </h2>
            <h5 class="role-title">
                Front-End Developer & Interface Designer
            </h5>
        </div>
        <div class="contact-info clearfix">
            <ul class="list plain-list align-left">
                <li>
                    <a href="mailto:ulinaaron@gmail.com">ulinaaron@gmail.com</a>
                </li>
                <li>
                    231.343.8597
                </li>
                <li>
                    Grandville, MI
                </li>
            </ul>
        </div>
    </header>
    
    <div class="main-column">
        <h3 class="sub-title summary-title">
            Summary
        </h3>
        <p>
        I am an accomplished Front-End developer and interface designer with four years of professional experience and several more as a hobbyist. 
        I am passionate about writing code and constructing web interfaces that people can actually use. 
        I meticulously align project goals with human behavior to achieve the best results for clients. I am confident with color theory, typography, and understanding brand requirements.
        </p>
        
        <h3 class="sub-title">
            Work Experience
        </h3>
        
        <div class="job-item">
            <h4 class="job-title">XWP</h4>
            <h5 class="role-title">Front-End Engineer</h5>
            <h6 class="length">December 2014 - January 2016</h6>
            <h6 class="location">Muskegon, MI</h6>
            <p>
            Developed web experiences for enterprise-level clients using the Wordpress VIP platform. Worked with such notable clients as Resignation Media, USA Today Sports, and Global News.
            </p>
            <ul class="explainations">
                <li>
                    Concept to code using Sass, Git, HTML, PHP, Javascript, and jQuery.
                </li>
                <li>
                    Developed front-end build tools using Gulp and Javascript.
                </li>
            </ul>
        </div> <!-- /.job-item -->
        <div class="job-item">
            <h4 class="job-title">Revel</h4>
            <h5 class="role-title">Web Developer</h5>
            <h6 class="length">July 2014 - November 2014</h6>
            <h6 class="location">Muskegon, MI</h6>
            <p>
            Developed custom Wordpress Themes for area businesses. Collaborated with designers to plan and execute the user experience.
            </p>
        </div> <!-- /.job-item -->
        <div class="job-item">
            <h4 class="job-title">LongerDays</h4>
            <h5 class="role-title">Creative Director &amp; Web Developer</h5>
            <h6 class="length">June 2012 - June 2014</h6>
            <h6 class="location">Muskegon, MI</h6>
            <p>
                My time was balanced between client projects and occasional company directives. 
            </p>
            <ul class="explainations">
                <li>
                    Maintained small business WordPress websites and implemented front-end design and content changes for clients.
                </li>
                <li>
                    Proposed and implemented brand, marketing, and web strategies to increase company's web presence.
                </li>
            </ul>
        </div> <!-- /.job-item -->
        <div class="job-item">
            <h4 class="job-title">Freelance</h4>
            <h5 class="role-title">Web Developer &amp; Designer</h5>
            <h6 class="length">2004 - Present</h6>
            <h6 class="location">Muskegon, MI</h6>
            <p>
            Over the years I have developed several passion projects and have created web experiences for many local small businesses on my own.
            </p>
        </div> <!-- /.job-item -->
    </div>
    
    <div class="side-column">
        <h3 class="sub-title">
            Expertise
        </h3>
        
        <h6 class="section-title">
            Skillset
        </h6>
        <ul class="list">
            <li>
                HTML / Liquid / EJS / Jade
            </li>
            <li>
                CSS / Sass / LESS
            </li>
            <li>
                WordPress CMS &amp; Theme Development
            </li>
            <li>
                Front-End Tool Development
            </li>
            <li>
                Javascript / jQuery
            </li>
        </ul>
        
        <h6 class="section-title">
            Working Knowledge
        </h6>
        <ul class="list">
            <li>
                Scrum / Agile
            </li>
            <li>
                Information Architecture
            </li>
            <li>
                Web User Experience
            </li>
             <li>
                Wireframing / Prototypes
            </li>
            <li>
                Responsive Web Design
            </li>
            <li>
                Cross-Browser Compatibility
            </li>
        </ul>
        
        <h6 class="section-title">
            Tools
        </h6>
        <ul class="list">
            <li>
                Jira
            </li>
            <li>
                Git / Github / Bitbucket
            </li>
            <li>
                Gulp / Grunt
            </li>
            <li>
                Chrome Dev Tools
            </li>
            <li>
                Gulp / Grunt
            </li>
            <li>
                Sketch
            </li>
            <li>
                Google-Fu
            </li>
        </ul>
        
        <p class="show-for-standalone">
            Visit <a href="http://aaronmazade.com">AaronMazade.com for portfolio examples.</a>
        </p>
    </div>

</div>