<section id="main" class="article-entry main">
    <div  class="article-container">
    	<h1 class="entry-title"><%= title %></h1>
    	<%- yield %>
        
        <ul class="tag-list">
            <% for(var tag in tags){ %>
                <li><%= tags[tag] %></li>
            <% } %>
        </ul>
    </div>
</section>