/* ==========================================================================
   Home
   ========================================================================== */


/* Home - Introduction
   ========================================================================== */
   
.introduction {
    background-color: $color-dark;
    color: $color-light;
    position: relative;
    
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2d2d2d+0,515151+100 */
    background: #2d2d2d; /* Old browsers */
    background: -moz-linear-gradient(45deg,  #2d2d2d 0%, #515151 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg,  #2d2d2d 0%,#515151 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg,  #2d2d2d 0%,#515151 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d2d2d', endColorstr='#515151',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    
    padding-top: ms(9);
    
    @media #{$device-medium} {
        padding-top: ms(10);
    }


    .container {
        padding: ms(4);

        @media #{$device-medium} {
            padding: ms(7) ms(4) ms(8);
        }

        @media #{$device-large} {
            padding-left: 0;
            padding-right: 0;
        }
    }

    .media {
        max-width: 100%;
    }
}

.introduction-title {
    display: inline-block;
    font-size: ms(3);
    line-height: ms(4);
    font-weight: 900;
    color: $color-lightest;
    text-transform: uppercase;
    border-bottom: 4px solid $color-info;
    transition: border 1s ease-in;
    transition-delay: 3s;
    margin: ms(0) auto ms(0);
    
    @media #{$device-small} {
        font-size: ms(5);
        line-height: ms(6);
        text-align: left;
    }
}

.introduction-subtitle {
    font-size: ms(1);
    line-height: ms(2);
    font-weight: 900;
    font-style: normal;
    font-family: $font-secondary;
    color: $color-light;
    margin: 0;
}

.introduction .media .narrow {
    position: relative;
}

.introduction .media .my-mac {
    z-index: 22;
    position: relative;
    display: none;
    
    @media #{$device-medium} {
        display: block;
        max-width: 100%;
    }
}

.introduction .media .my-screen {
    position: absolute;
    top: 0;
    max-width: 100%;
    width: 100%;
    z-index: 20;
    display: none;
    backface-visibility: hidden;
    
    @media #{$device-medium} {
        display: block;
        width: 270px;
        top: 14px;
        left: 16px;
    }
    
    @media #{$device-large} {
        width: 362px;
        top: 17px;
        left: 20px;
    }
}

.introduction .media .my-editor {
    top: 0;
    max-width: 100%;
    width: 100%;
    z-index: 23;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition-duration: 0.3s;
    transition-property: transform;
    transition-timing-function: ease-out;
    
    @media #{$device-medium} {
        position: absolute;
        width: 140px;
        top: 28px;
        left: 80px;

    }
    
    @media #{$device-large} {
        width: 180px;
        top: 38px;
        left: 110px;
        &:hover {
            transform: translateY(8px);
        }
    }
}

.capabilities {
    margin-top: ms(3);
    padding-top: ms(6);
    padding-bottom: ms(6);
    
    .set-of-three {
        @media #{$device-medium} {
            margin-top: ms(3);
        }
    }
}

.capabilities .set-of-three .set-item {
    margin: 0 auto;
    
    @media #{$device-tiny-to-small} {
        float: none;
        width: 80%;    
    }
    
    @media #{$device-small-to-medium} {
        float: none;
        width: 60%;

    }
}