<div class="narrow">
    <figure class="about-headshot">
            <img src="/assets/images/avatar_round_large.png" alt="Portrait">
    </figure>

	<p>Hello, my name is Aaron Mazade, a Front-End Developer and a UI/UX Designer residing in Grandville, MI.</p>

	<p>My passion for creating websites began in 2000. I've equally enjoyed creating visuals that people can interact with while also writing the code that powers these experiences.</p>
   
</div>

<div class="container">    
    <hr>
    
    <div class="talents">
		<div class="group skills">
			<div class="narrow">
				<h3 class="group-title wow bounceInLeft">Technical Abilities</h3>

				<div class="skill-list wow fadeIn" data-wow-delay="1s">
					<div class="skill-row">
						<h6 class="skill-title">CSS / Sass / Stylus</h6>
						<div class="progress progress-striped active">
						  <div class="progress-bar progress-css" role="progressbar" data-wow-delay="1s" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;">
						  </div>
						</div>
					</div>
					<div class="skill-row">
						<h6 class="skill-title">Responsive Web Design</h6>
						<div class="progress progress-striped active">
						  <div class="progress-bar progress-rwd" role="progressbar" data-wow-delay="1s" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 72%;">
						  </div>
						</div>
					</div>
					<div class="skill-row">
						<h6 class="skill-title">Static Site Generation</h6>
						<div class="progress progress-striped active">
						  <div class="progress-bar progress-ssg" role="progressbar" data-wow-delay="1s" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
						  </div>
						</div>
					</div>
					<div class="skill-row">
						<h6 class="skill-title">WordPress</h6>
						<div class="progress progress-striped active">
						  <div class="progress-bar progress-wordpress" role="progressbar" data-wow-delay="1s" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
						  </div>
						</div>
					</div>
					<div class="skill-row">
						<h6 class="skill-title">Wireframing / Mockups</h6>
						<div class="progress progress-striped active">
						  <div class="progress-bar progress-wireframing" role="progressbar" data-wow-delay="1s" data-wow-offset="-100" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
						  </div>
						</div>
					</div>
                    <div class="skill-row">
						<h6 class="skill-title">Front-End Task Processing</h6>
						<div class="progress progress-striped active">
						  <div class="progress-bar progress-tasks" role="progressbar" data-wow-delay="1s" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
						  </div>
						</div>
					</div>
					<div class="skill-row">
						<h6 class="skill-title">PHP</h6>
						<div class="progress progress-striped active">
						  <div class="progress-bar progress-php" role="progressbar" data-wow-delay="1s" data-wow-offset="-100" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%;">
						  </div>
						</div>
					</div>
					<div class="skill-row">
						<h6 class="skill-title">Javascript / jQuery</h6>
						<div class="progress progress-striped active">
						  <div class="progress-bar progress-js" role="progressbar" data-wow-delay="1s" data-wow-offset="-100" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
						  </div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="group accolades">
			<div class="narrow">
				<h3 class="group-title wow bounceInRight">Accomplishments</h3> 

				<ul class="accolade-list wow fadeIn" data-wow-delay="1s">
					<li>2015 Silver Addy with Revel for Parentville.org</li>
					<li>November 2013 Awwwards Nominee for LongerDays.com</li>
					<li>Talk on using Gulp as a static site generator at GRWebDev January 2015 Meetup</li>
					<li>A 2x GiveCamp GR Volunteer</li>
				</ul>   
			</div>
		</div>
	</div> <!-- /.talents -->
	
	<hr>
    <div class="set-of-three">
        <div class="set-item fancy secondary align-center">
            <div class="inner">
                <i class="set-icon devicons wow fadeInUp devicons-sass"></i>
                <h3 class="set-title">Extended Styles</h3>
                <p>Harnass modern-day CSS preprocessors to create efficient and smarter visuals. </p>
            </div>
        </div> <!-- .set-item -->
        <div class="set-item fancy danger align-center">
            <div class="inner">
                <i class="set-icon devicons wow fadeInUp devicons-gulp"></i>            
                <h3 class="set-title">Front-End Tools</h3>
                <p>Develop tasks for processing application assets such as CSS, images, and JS.</p>                         
            </div>
        </div> <!-- .set-item -->
        <div class="set-item fancy info align-center">
            <div class="inner">
                <i class="set-icon devicons wow fadeInUp devicons-html5"></i>            
                <h3 class="set-title">Experience Design</h3>
                <p>Design, wireframe, and prototype using code for quicker user testing and feedback.</p>
            </div>
        </div>
    </div> <!-- .set-item -->
</div>

