<div class="narrow">
    <figure class="about-headshot">
            <img src="/assets/images/avatar_round_large.png" alt="Portrait">
    </figure>

	<p>Hello, my name is Aaron Mazade, a Front-End Developer and a UI/UX Designer residing in Grandville, MI.</p>

	<p>My passion for creating websites began in 2000. I've equally enjoyed creating visuals that people can interact with while also writing the code that powers these experiences.</p>
    
    <p>I have previously worked with the wonderful team of <a href="http://xwp.co">XWP</a> on several enterprise-level WordPress VIP websites. I am currently seeking full-time employment in an agency environment, <a href="/contact">maybe yours?</a></p>
   
</div>

<div class="container">
    <hr>
    <div class="set-of-three">
        <div class="set-item secondary align-center">
            <div class="inner">
                <i class="set-icon devicons devicons-sass"></i>
                <h3 class="set-title">Extended Styles</h3>
                <p>Harnass modern-day CSS preprocessors to create efficient and smarter visuals. </p>
            </div>
        </div> <!-- .set-item -->
        <div class="set-item danger align-center">
            <div class="inner">
                <i class="set-icon devicons devicons-gulp"></i>            
                <h3 class="set-title">Front-End Tools</h3>
                <p>Develop tasks for processing application assets such as CSS, images, and JS.</p>                         
            </div>
        </div> <!-- .set-item -->
        <div class="set-item info align-center">
            <div class="inner">
                <i class="set-icon devicons devicons-html5"></i>            
                <h3 class="set-title">Experience Design</h3>
                <p>Design, wireframe, and prototype using code for quicker user testing and feedback.</p>
            </div>
        </div>
    </div> <!-- .set-item -->
</div>

