<div class="narrow">
	<h1 class="align-center">About Me</h1>

	<img src="/assets/images/avatar_round_large.png" alt="Portrait" class="align-image-center">

	<p class="lead align-center">Hello, my name is Aaron Mazade. I am a Front-End Developer and a UI/UX Designer from Muskegon, MI. I work with the fine folks at XWP.</p>

	<p>My passion for creating websites began in 2000. I've equally enjoyed creating visuals and code.</p>
</div>

