<div class="narrow">

	<img src="/assets/images/avatar_round_large.png" alt="Portrait" class="align-image-center about-feature">

	<p>Hello, my name is Aaron Mazade, a Front-End Developer and a UI/UX Designer residing in Grandville, MI.</p>

	<p>My passion for creating websites began in 2000. I've equally enjoyed creating visuals that people can interact with while also writing the code that powers these experiences.</p>
    
    <p>I have previously worked with the wonderful team of <a href="http://xwp.co">XWP</a> on several enterprise level WordPress VIP websites.</p>
    
    <p>I'm an avid evangelist of modern front-tend tools, such as task runners, templating languages, and CSS preprocessors.</p>
    
    <p>I prefer to design for usability over fancy aesthetics. I find minimilism to be beautiful.
</div>

