<% if (environment == "development") { 
	var env_set = ""
} else {
	var env_set = root
} %>

<%- partial('_templates/head', {env_root: env_set}) %>
<body>
	<%- partial('_templates/header', {env_root: env_set}) %>

	<div id="introduction" class="introduction">
		<div class="container">
			<div class="content">
					<div class="narrow">
					<h5 class="introduction-subtitle wow fadeIn tk-sorts-mill-goudy" data-wow-delay=".5s">Hello, I am</h5>
					<h1 class="introduction-title wow fadeIn tk-sorts-mill-goudy" data-wow-delay="1.5s">Aaron Mazade</h1>
					<div class="introduction-title-border wow fadeIn" data-wow-delay="2.5s"></div>
					<p class="wow fadeIn" data-wow-delay="3s">
						I'm a man of many titles and even more so of talents. 
						You can call me a Front-End Developer, a web designer, a user experience aficionado, or just a guy who talks a lot about Sci-Fi, bowling, and disc golf. 
						I hail from Grandville, MI, where I concoct my eccentric plans of world domination.
					</p>
					</div>
			</div> <!-- /.content -->
			<div class="media wow fadeIn">
				<div class="narrow">
					<object id="my-mac-svg" class="my-mac" type="image/svg+xml" data="assets/images/mymac.svg"></object>
					<object class="my-screen wow fadeIn" data-wow-delay="9.5s" type="image/svg+xml" data="assets/images/myscreen.svg"></object>
					<object class="my-editor wow flipInY" data-wow-delay="11.5s" type="image/svg+xml" data="assets/images/myeditor.svg"></object>
				</div>
			</div>
		</div> <!-- /.container -->
	</div> <!-- /.introduction -->
	
	<div class="capabilities main">
		<div class="container">
			<div class="content align-center">
				<h3 class="section-title">My Capabilities</h3>
				
					<div class="set-of-three">
							<div class="set-item align-center">
									<div class="inner">
										<div class="wow fadeInUp">
											<svg class="lnr lnr-magic-wand set-icon wow fadeInUp color-info"><use xlink:href="#lnr-magic-wand"></use></svg>
										</div>
											<h3 class="set-title">Discovery & Ideation</h3>
											<p></p>
									</div>
							</div> <!-- .set-item -->
							<div class="set-item align-center">
									<div class="inner">
											<div class="wow fadeInUp">
												<svg class="lnr lnr-select set-icon wow fadeInUp color-warning"><use xlink:href="#lnr-select"></use></svg>
											</div>           
											<h3 class="set-title">Human Usability</h3>                   
									</div>
							</div> <!-- .set-item -->
							<div class="set-item align-center">
									<div class="inner">
											<div class="wow fadeInUp">
												<svg class="lnr lnr-laptop-phone set-icon wow fadeInUp color-success"><use xlink:href="#lnr-laptop-phone"></use></svg>
											</div>       
											<h3 class="set-title">Interface Design</h3>
									</div>
							</div> <!-- .set-item -->
					</div> <!-- /.set-of-three -->
									
					<div class="set-of-three">
							<div class="set-item align-center">
									<div class="inner">
											<div class="wow fadeInUp">
												<svg class="lnr lnr-code set-icon wow fadeInUp color-alert"><use xlink:href="#lnr-code"></use></svg>
											</div>
											<h3 class="set-title">Development</h3>
									</div>
							</div> <!-- .set-item -->
							<div class="set-item align-center">
									<div class="inner">
											<div class="wow fadeInUp">
												<svg class="lnr lnr-diamond set-icon wow fadeInUp color-danger"><use xlink:href="#lnr-diamond"></use></svg>
											</div>          
											<h3 class="set-title">Branding</h3>                      
									</div>
							</div> <!-- .set-item -->
							<div class="set-item align-center">
									<div class="inner">
											<div class="wow fadeInUp">
												<svg class="lnr lnr-layers set-icon wow fadeInUp color-primary"><use xlink:href="#lnr-layers"></use></svg>
											</div>         
											<h3 class="set-title">Art Direction</h3>
									</div>
							</div> <!-- .set-item -->
					</div> <!-- /.set-of-three -->
			</div>
		</div>
	</div> <!-- /.capabilities -->

	<%- partial('_templates/footer', {env_root: env_set}) %>
	<%- partial('_templates/foot', {env_root: env_set}) %>
</body>
</html>