<% if (environment == "development") { 
	var env_set = ""
} else {
	var env_set = root
} %>

<%- partial('_templates/head', {env_root: env_set}) %>
<body>
	<%- partial('_templates/header', {env_root: env_set}) %>

	<div id="introduction" class="introduction">
		<div class="container">
			<div class="content">
				<h5 class="introduction-subtitle wow fadeIn tk-sorts-mill-goudy" data-wow-delay=".5s">Hello, I am</h5>
				<h4 class="introduction-title wow fadeIn tk-sorts-mill-goudy" data-wow-delay="1.5s">Aaron Mazade!</h4>
				<div class="introduction-title-border wow fadeIn" data-wow-delay="2.5s"></div>
				<p class="wow fadeIn" data-wow-delay="3s">
					I'm a man of many titles and even more so of talents. You can call me a Front-End Developer, a web designer, a user experience aficionado, or just a guy who talks a lot about Sci-Fi, bowling, and disc golf. I hail from Grandville, MI, where I concoct my eccentric plans of world domination.
				</p>
			</div> <!-- /.content -->
			<div class="media">
				<img src="assets/images/mymac.png">
			</div>
		</div> <!-- /.container -->
	</div> <!-- /.introduction -->

	<div class="talents">
		<div class="group skills">
			<div class="narrow">
				<h3 class="group-title wow bounceInLeft" data-wow-delay="3s">Technical Abilities</h3>

				<div class="skill-list wow fadeIn" data-wow-delay="4s">
					<div class="skill-row">
						<h6 class="skill-title">CSS / Sass / Stylus</h6>
						<div class="progress progress-striped active">
						  <div class="progress-bar progress-css" role="progressbar" data-wow-delay="4s" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;">
						  </div>
						</div>
					</div>
					<div class="skill-row">
						<h6 class="skill-title">Responsive Web Design</h6>
						<div class="progress progress-striped active">
						  <div class="progress-bar progress-rwd" role="progressbar" data-wow-delay="4s" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 72%;">
						  </div>
						</div>
					</div>
					<div class="skill-row">
						<h6 class="skill-title">Static Site Generation</h6>
						<div class="progress progress-striped active">
						  <div class="progress-bar progress-ssg" role="progressbar" data-wow-delay="4s" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
						  </div>
						</div>
					</div>
					<div class="skill-row">
						<h6 class="skill-title">WordPress</h6>
						<div class="progress progress-striped active">
						  <div class="progress-bar progress-wordpress" role="progressbar" data-wow-delay="4s" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
						  </div>
						</div>
					</div>
					<div class="skill-row">
						<h6 class="skill-title">Wireframing / Mockups</h6>
						<div class="progress progress-striped active">
						  <div class="progress-bar progress-wireframing" role="progressbar" data-wow-delay="4s" data-wow-offset="-100" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
						  </div>
						</div>
					</div>
                    <div class="skill-row">
						<h6 class="skill-title">Front-End Task Processing</h6>
						<div class="progress progress-striped active">
						  <div class="progress-bar progress-tasks" role="progressbar" data-wow-delay="4s" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
						  </div>
						</div>
					</div>
					<div class="skill-row">
						<h6 class="skill-title">PHP</h6>
						<div class="progress progress-striped active">
						  <div class="progress-bar progress-php" role="progressbar" data-wow-delay="4s" data-wow-offset="-100" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%;">
						  </div>
						</div>
					</div>
					<div class="skill-row">
						<h6 class="skill-title">Javascript / jQuery</h6>
						<div class="progress progress-striped active">
						  <div class="progress-bar progress-js" role="progressbar" data-wow-delay="4s" data-wow-offset="-100" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
						  </div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="group accolades">
			<div class="narrow">
				<h3 class="group-title wow bounceInRight" data-wow-delay="3s">Accomplishments</h3> 

				<ul class="accolade-list wow fadeIn" data-wow-delay="4s">
					<li>2015 Silver Addy with Revel for Parentville.org</li>
					<li>November 2013 Awwwards Nominee for LongerDays.com</li>
					<li>Talk on using Gulp as a static site generator at GRWebDev January 2015 Meetup</li>
					<li>A 2x GiveCamp GR Volunteer</li>
				</ul>   
			</div>
		</div>
	</div> <!-- /.talents -->

	<%- partial('_templates/footer', {env_root: env_set}) %>
	<%- partial('_templates/foot', {env_root: env_set}) %>
</body>
</html>