<div class="lead-header narrow">
    <p class="lead align-center">I have been a part of many great projects for agencies and several for myself. Here are just a few projects I have been involved with:</p>
</div>
<%- partial('_templates/loop-portfolio', {type: 'sections'}) %>

<div class="page-footer narrow"></div>
