<div class="container">
    <div class="resume-container">
        <div class="title-section clearfix">
            <h2 class="title">
                Aaron W. Mazade
            </h2>
            <h5 class="role-title">
                Front-End Developer & Interface Designer
            </h5>
        </div>
        <div class="contact-info clearfix">
            <ul class="list plain-list align-left">
                <li>
                    <a href="mailto:ulinaaron@gmail.com">ulinaaron@gmail.com</a>
                </li>
                <li>
                    231.343.8597
                </li>
                <li>
                    Grandville, MI
                </li>
            </ul>
        </div>
        
        <div class="work-experience">
            <h3 class="sub-title">
                Work Experience
            </h3>
            
            <div class="job-item">
               <h4 class="job-title">XWP</h4>
               <h5 class="role-title">Front-End Engineer</h5>
               <h6 class="length">December 2014 - January 2016</h6>
               
               <p>
               I work on the WordPress VIP platform for many enterprise level clients that receive millions of visitors every year.
               I often handle design to code implementations, CSS, Markup, and Javascript/jQuery. 
               I often get to use and enjoy modern developer tools such as Gulp, Sass, and Git.
               </p>
            </div>
        </div>
        
        <div class="side-section">
            <h3 class="sub-title">
                Skills
            </h3>
            <ul class="list">
                <li>
                    CSS / Sass
                </li>
                <li>
                    Wordpress CMS & Theme Development
                </li>
                <li>
                    Front-End Tool Building (Gulp)
                </li>
            </ul>
        </div>

    </div>
</div>
<div class="container align-center">
    <a href="#" class="button resume-button">Download Printable</a>
</div>


