<div class="container">
    <%- partial('_templates/resume') %>
    <%- partial('_templates/resume-ref') %>
</div>

<footer class="resume-footer container">
    <p>Thank you for your time!</p>
    
    <div class="container align-center">
    <a href="#" class="button resume-button">Download Printable PDF</a>
</div>
</footer>




