<div class="narrow">
    <h2>Typography</h2>
    <p>This site was designed for readability thanks to vertical rhythm and <a href="http://bourbon.io/docs/#modular-scale">Bourbon's</a> <code>modular-scale()</code> mixin. <a href="http://www.gridlover.net/">Gridlover</a> was used to establish a baseline.</p>
</div>
<div class="narrow grid-guide">
    <h1>You can tune a piano but you can't tuna-fish.</h1>
    <h2>You can tune a piano but you can't tuna-fish.</h2>
    <h3>You can tune a piano but you can't tuna-fish.</h3>
    <h4>You can tune a piano but you can't tuna-fish.</h4>
    <h5>You can tune a piano but you can't tuna-fish.</h5>
    <h6>You can tune a piano but you can't tuna-fish.</h6>

    <p>
        Nonprofit, Rosa Parks innovation social innovation social catalyst free-speech combat HIV/AIDS agency. Employment indicator time of extraordinary change nutrition, frontline citizens of change smart cities scalable. Effectiveness, Arab Spring; microloans justice development forward-thinking, partner refugee. Assessment expert minority equal opportunity,.
    </p>
    
    <ul>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, magnam!</li>
        <li>Lorem ipsum dolor sit amet.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, aliquid.</li>
    </ul>

    <a href="#" class="button">Normal button</a>
</div>
