<div class="narrow">
    <h3>Challenge</h3>
    <p>
        From 2010 to 2013 the LongerDays' website had undergone several transformations using a variety of premium WordPress themes. None of which were specifically designed for the needs LongerDays required nor did they properly represent the company's brand.
    </p>
</div>