<div class="narrow">
    
    <h3>Overview</h3>
    <p>
        From 2010 to 2013 the LongerDays' website had undergone several transformations using a variety of premium WordPress themes. 
        None of which were specifically designed for the needs LongerDays required, nor did they properly represent the company's brand.
    </p>
    <p>             
        The company culture of LongerDays had been eccentric and vibrant, yet it was not quite represented in the same light to potiental clients.
    </p>
    <p>The goal of the new web presence would be to highlight the unique characteristics of the LongerDays service while showing the true personality through branding.</p>
    
    <hr>
    
    <h3>Process</h3>
    <p>
        I began with assembling the information architecture into grayscale wireframes. I decided to begin the project in code, as it could be carried through prototyping, design and finally into a custom WordPress theme.  
    </p>
    
    <figure class="matte">
        <img src="../assets/images/case-studies/longerdays/wireframe-home.jpg" alt="LongerDays Home Wireframe">
    </figure>
    
    <p>
        As in most cases, the content for the project was still a work in progress, so I planned potential content areas within the wireframes using a combination of lorem impsum and potential brand messages.
    </p>
    <p>
        The interactive wireframes allowed us to plan and see potential user flow throughout the site.
    </p>
    <figure class="full-width">
        <div class="set-of-six">
            <div class="set-item swatch" style="background-color: #409ece;"></div>
            <div class="set-item swatch" style="background-color: #2d82ae;"></div>
            <div class="set-item swatch" style="background-color: #eff7fb;"></div>
            <div class="set-item swatch" style="background-color: #333333;"></div>
            <div class="set-item swatch" style="background-color: #808080;"></div>
            <div class="set-item swatch" style="background-color: #FFFFFF;"></div>
        </div>
        <div class="set-of-six">
            <div class="set-item swatch" style="background-color: #A55454;"></div>
            <div class="set-item swatch" style="background-color: #A48EA7;"></div>
            <div class="set-item swatch" style="background-color: #D3AA8A;"></div>
            <div class="set-item swatch" style="background-color: #D87D57;"></div>
            <div class="set-item swatch" style="background-color: #B2D28A;"></div>
            <div class="set-item swatch" style="background-color: #E0CC5A;"></div>
        </div>
        <figcaption>
            The color pallete I created to use throughout the website.
        </figcaption>
    </figure>
    <p>
        After the wireframe phase was completed I began applying the design and visuals directly to the already interactive prototypes. 
        The entire project was version controlled using git, therefore there was no reason not to branch the visuals on top of the wireframes.
    </p>
    <figure class="matte">
        <img src="../assets/images/case-studies/longerdays/prototype-pricing.jpg" alt="">
    </figure>
    
    <p>
        After the design and prototypes had been approved it was time to begin the development on the WordPress theme. 
        A previous weaknesses LongerDays faced with other WordPress themes is that content was difficult to remain dynamic.
        Because information was often featured several places on the website, it would often become out of date or get missed when another area would get updated.
    </p>
    <p>
        To conquer these problems I harnessed WordPress custom post types and several shortcodes that could be easily maintained by management. 
        With this approach the mananagement could add micro-data to the custom post types. Then when they would need to call upon that data they could use the complimentary shortcodes.
    </p>
    <figure class="full-width">
        <div class="segment">
            <pre>
                <code class="align-center">
[ld_callout post_id="#" type="full"]
                </code>
            </pre>
            <p>
            Allows a post type to be populated with call to action content that can be fetched in pages or posts using the post ID #.
            </p>
            <pre>
                <code class="align-center">
[ld_pricing amount="" layout="" style="" include_buttons=""]
                </code>
            </pre>
            <p>
                A post type of pricing data that can be displayed in various layouts in posts or pages. 
                This allows managers to change rates once and have it reflected in all locations the shortcode may be used.
            </p>
        </div>
        <figcaption>A select few shortcodes I created for LongerDays.com.</figcaption>
    </figure>
    
    <h3>Summary</h3>
    <p>
		We launched this tailored version of LongerDays.com in early December of 2013.
	    LongerDays.com has gone through several content and design changes since then, but much of the foundation remains.
	</p>	
    
    <p>
        Numerous LongerDays.com clients have responded with great feedback regarding the overall feeling of the website.
    </p>
    
    <figure class="matte">
        <img src="../assets/images/case-studies/longerdays/final-home-2016.jpg" alt="">
    </figure>
</div>
