// Theme Colors
// -------------------------
color-primary   =	#7BBDAB
color-secondary =	#a89bb9
color-tertiary  =	#7E7076

color-success   =	#beb55b
color-warning   =	#d28b71
color-alert     =	#CB6079
color-info      =	#8ab3b5

color-light     =	#d0c8c6
color-lighter   =	#e9e1dd
color-lightest  =	#f5eeeb
color-medium    =	#b8afad
color-dark      =	#645240
color-darker    =	#534636
color-darkest   =	#3B3228

// DEVICES
// -------------------------
device-micro  =	"only screen and (min-width: 240px)" 	// 240px
device-tiny   =	"only screen and (min-width: 320px)" 	// 320px
device-small  =	"only screen and (min-width: 480px)" 	// 480px
device-medium =	"only screen and (min-width: 768px)" 	// 768px
device-large  =	"only screen and (min-width: 1024px)"	// 1024px
device-xl     =	"only screen and (min-width: 1280px)"	// 1280px


font-primary = 'Oswald', sans-serif
font-secondary = 'Quattrocento', serif;