// Theme Colors
// -------------------------
color-primary   =	#8fa1b3
color-secondary =	#b48ead
color-tertiary  =	#ab7967

color-success   =	#a3be8c
color-warning   =	#d08770
color-alert     =	#bf616a
color-info      =	#96b5b4

color-light     =	#c0c5ce
color-lighter   =	#dfe1e8
color-lightest  =	#eff1f5
color-medium    =	#65737e
color-dark      =	#4f5b66
color-darker    =	#343d46
color-darkest   =	#2b303b

// DEVICES
// -------------------------
device-micro  =	"only screen and (min-width: 240px)" 	// 240px
device-tiny   =	"only screen and (min-width: 320px)" 	// 320px
device-small  =	"only screen and (min-width: 480px)" 	// 480px
device-medium =	"only screen and (min-width: 768px)" 	// 768px
device-large  =	"only screen and (min-width: 1024px)"	// 1024px
device-xl     =	"only screen and (min-width: 1280px)"	// 1280px


font-primary = 'Oswald', sans-serif
font-secondary = 'Quattrocento', serif;