@import "_vendor/nib"
@import "_vendor/jeet"
@import "_vendor/axis"
@import "_functions"
@import "_variables"

normalize-css()

/**
 * Global
 */
 
 html
 	font-size 100%
 	
*
	box-sizing(border-box)
 	
.narrow
	center(650px)
	padding 0 20px
	
	@media device-medium
		padding 0
 	
/**
 * Typography
 */
 
body
	fs 1rem
	font-family font-secondary
	color color-dark

h1,
h2,
h3,
h4,
h5,
h6
	font-family font-primary
	color color-dark

h1
	h1()

h2
	h2()
	
h3
	h3()
	
h4 
	h4()

h5
	h5()
	
h6
	h6()
	
.group-title
	font-weight 300
	
p
	paragraph 1rem

.lead
	fs 1.1rem
	font-weight 300
	
a
	link color-primary none
	
	&:hover
		border 0
	
blockquote
	blockquote(color-light)
	
	
.skill-list,
.accolade-list,
.social-list
	ul circle
	margin 0
	padding 0 20px
	
	@media device-medium
		padding 0
	
/**
 * Grid
 */
 
.container
	center(1100px)
	cf()

.header-title
	col(1)
	
	@media device-medium
		col(2/5)

.header-menu
	col(1)
	
	@media device-medium
		col(3/5)
		
.talents,
.footer
	
	.narrow
		
		@media device-medium
			center(300px)
			
		@media device-large
			center(400px)

/**
 * Buttons
 */
 
button,
.button
	button color-darker 20 color-light
	background-color transparent
	border 4px solid color-light
	font-family font-primary
	font-weight 300
	border-radius 0
	position relative
	transition all .5s ease-in-quart
	outline none
	box-shadow none
	
	&:hover
		background-color color-light
		color color-darker
		text-decoration none
		
.read-more
	button color-darker 12 color-medium
	background-color transparent
	border-radius 0
	border 2px solid color-medium
	
	&:hover
		border 2px solid color-medium
		background-color color-medium
		color color-light
	
	@media device-medium
		float right
		
/**
 * Structure
 */
 
.group
	col(1)
	padding 40px 0
	
	@media device-medium
		col(1/2, gutter: 0)
		padding 80px 0
		
/**
 * Contact Form
 */

.contact-form
	cf()
	
	input[type="email"],
	input[type="text"],
	textarea
		background-color color-medium
		border 0
		border-radius 0
		padding 10px
		set-placeholder-style(color, color-lightest)
		transition background-color .5s ease-in-quart
		
		@media device-medium
			set-placeholder-style('text-align', right)
		
		&:focus
			outline none
			background-color color-darker

	textarea
		field(100%)
		height: 200px
		resize none
		
	input,
	textarea,
	button
		stack()
		margin-bottom 20px
		
	button
		width 100%
		float right
		text-align right
		
		@media device-medium
			width 50%
		
/**
 * Header
 */

.header
	padding 20px
	
	@media device-medium
		padding 20px 0
	
.site-title
	fs 2rem
	margin 0
	padding 0
	font-weight 300
	
	a
		color color-darkest
		
	@media device-medium
		margin 0
		
.site-title.align-center
	
	@media device-medium
		text-align left
		
/**
 * Header Navigation
 */
 
.header-menu
	position relative
 	
.navigation-list
	inline-list()
	font-family font-primary
	
	@media device-medium
		align(vertical)
		right 0
		left auto
		
	a
 		color color-darker
 		font-weight 100
 		
 	.active a
 		border-bottom 1px solid color-darker

/**
 * Display for menus
 */
 
#navigation
	display none
	
	@media device-medium
		display block
		
.slicknav_menu
	display block
	
	@media device-medium
		display none
	
/**
 * Home
 */
 
.introduction
	background-color color-darkest
	color color-light
	padding 40px 0
	position relative
	
	@media device-medium
		padding 80px 0

.introduction-title
	fs 3rem
	font-weight 500
	color color-lightest
	margin 0


.introduction-subtitle
	fs 3rem
	font-weight 300
	color color-lightest
	margin 0
	
.introduction-title-border
	border-bottom 2px dashed color-medium
	center(100px)
	margin-bottom 40px
	
.talents
	color color-lighter
	cf()
	
	.group-title
		color color-lighter
		inline-block()
		padding 5px 20px
		
.accolades
	background-color color-dark
	
	.group-title
		border-left 4px solid color-medium
		background-color color-darker

.skills
	background-color color-darker
	
	.group-title
		border-right 4px solid color-medium
		background-color color-dark
	
	.narrow
		
		@media device-medium
			text-align right
			
.skill-list
	list-style-type none
	direction ltr
	
	.skill-row
		position relative
		cf()
		
.skill-title
	fs .9rem
	font-family font-secondary
	color color-lightest
	font-weight 300
	text-transform none
	margin 0 0 10px
	position relative

	
	@media device-medium
		text-align right
		column(3/5)
		margin-bottom 0

.skill-list .progress
	position relative
	
	@media device-medium
		column(2/5)
	
.work
	padding 40px 0
	
	@media device-medium
	
		padding 80px 0
		
	.group-title
		background-color color-primary
		color color-lightest
		padding 5px 20px
		inline-block()
		margin 0 auto
		border-left 5px solid color-medium
		border-right 5px solid color-medium
		
/**
 * Footer
 */

.footer
	background-color color-primary
	color: color-lightest
	fs 1rem
	
	.contact
		background-color color-dark
		
		@media device-medium
			text-align right
		
	.social
		background-color color-darker
		
.copyright
	font-weight 300
	margin-top 60px
	color color-medium
	
.colophon
	fs .8rem
	color color-medium
	
.social,
.contact
	.group-title
		color color-lightest
		
	a
		color color-light


/**
 * Main
 */
 
.main
	padding 0 20px
	
	@media device-medium
		padding 20px 0 60px
	
/**
 * Articles
 */
 
.article-block
	border-bottom 4px solid color-medium
	background-color color-lightest
	padding 20px
	margin-bottom 20px
	cf()
	
	.entry-title
		margin 0
	
	.entry-title a
		color color-dark
		font-weight 900
		
/**
 * Article
 */
 
.article-container
	center(800px)
	
.article-entry

	.entry-title
		color color-dark
		font-weight 900
		margin-bottom 0
 
.article-entry p
	fs: 1.2rem
	font-weight 300
	
/**
 * Work Group
 */
 
.work-group
	cf()

.work-item-title
	color color-dark
	padding 20px
	width 100%
	margin 0
	font-weight 300
	fs 1.4rem
@css {
	.work-item-title {
		text-align: center;
	}
}

.work-item
	position relative
	col(.5, cycle: 2, uncycle: 2, gutter: 0)
		
	@media device-medium
		col(.25, cycle: 4 , uncycle: 2, gutter: 0)
		
	a
		display block
		width 100%
		height inherit
		padding-bottom: 100%
		background-size cover
		background-position 50%
		
			
@css {
	.align-center {
		text-align: center;
	}
}

@import "_vendor/slicknav"
@import "_modules/progress-bars"