//
// Progress bars
// --------------------------------------------------


// Bar animations
// -------------------------

// WebKit
// @-webkit-keyframes progress-bar-stripes
//   from
//     background-position 40px 0
//   to
//     background-position 0 0

// Spec and IE10+
@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}


// Bar itself
// -------------------------

// Outer container
.progress {
  overflow: hidden;
  height: 20px;
  margin-bottom: 10px;
  background-color: $color-darkest;
}

// Bar of progress
.progress-bar {
  float: left;
  width: 0%;
  height: 100%;
  font-family: rem(12);
  color: $color-lightest;
  background-color: $color-info;
  transition: width .6s ease;
  text-align: center;
}

// Striped bars
//
// `.progress-striped .progress-bar` is deprecated as of v3.2.0 in favor of the
// `.progress-bar-striped` class, which you just add to an existing
// `.progress-bar`.
.progress-striped .progress-bar,
.progress-bar-striped {
  background-size: 35px 35px;
  background-image: -moz-linear-gradient(-45deg, 
        rgba(255,255,255,0.15) 0%, 
        rgba(255,255,255,0.15) 25%, 
        rgba(255,255,255,0) 25%, 
        rgba(255,255,255,0) 50%, 
        rgba(255,255,255,0.15) 50%, 
        rgba(255,255,255,0.15) 75%, 
        rgba(255,255,255,0) 75%, 
        rgba(255,255,255,0) 100%);
    background-image: -webkit-gradient(linear, left top, right bottom, 
        color-stop(0%,rgba(255,255,255,0.2)), 
        color-stop(25%,rgba(255,255,255,0.2)), 
        color-stop(25%,rgba(255,255,255,0)), 
        color-stop(50%,rgba(255,255,255,0)), 
        color-stop(50%,rgba(255,255,255,0.2)), 
        color-stop(75%,rgba(255,255,255,0.2)),
        color-stop(75%,rgba(255,255,255,0)),
        color-stop(100%,rgba(255,255,255,0)));
    background-image: -webkit-linear-gradient(-45deg, 
        rgba(255,255,255,0.3) 0%,
        rgba(255,255,255,0.3) 25%,
        rgba(255,255,255,0) 25%,
        rgba(255,255,255,0) 50%,
        rgba(255,255,255,0.3) 50%,
        rgba(255,255,255,0.3) 75%,
        rgba(255,255,255,0) 75%,
        rgba(255,255,255,0) 100%);
    background-image: -o-linear-gradient(-45deg, 
        rgba(255,255,255,0.15) 0%,
        rgba(255,255,255,0.15) 25%,
        rgba(255,255,255,0) 25%,
        rgba(255,255,255,0) 50%,
        rgba(255,255,255,0.15) 50%,
        rgba(255,255,255,0.15) 75%,
        rgba(255,255,255,0) 75%,
        rgba(255,255,255,0) 100%);
    background-image: -ms-linear-gradient(-45deg, 
        rgba(255,255,255,0.15) 0%,
        rgba(255,255,255,0.15) 25%,
        rgba(255,255,255,0) 25%,
        rgba(255,255,255,0) 50%,
        rgba(255,255,255,0.15) 50%,
        rgba(255,255,255,0.15) 75%,
        rgba(255,255,255,0) 75%,
        rgba(255,255,255,0) 100%);
    background-image: linear-gradient(135deg, 
        rgba(255,255,255,0.15) 0%,
        rgba(255,255,255,0.15) 25%,
        rgba(255,255,255,0) 25%,
        rgba(255,255,255,0) 50%,
        rgba(255,255,255,0.15) 50%,
        rgba(255,255,255,0.15) 75%,
        rgba(255,255,255,0) 75%,
        rgba(255,255,255,0) 100%);
}

// Call animation for the active one
//
// `.progress.active .progress-bar` is deprecated as of v3.2.0 in favor of the
// `.progress-bar.active` approach.
.progress.active .progress-bar,
.progress-bar.active {
    animation: progress 5s linear infinite;
    -moz-animation: progress 5s linear infinite;
    -webkit-animation: progress 5s linear infinite;
    -ms-animation: progress 5s linear infinite;
    -o-animation: progress 5s linear infinite;
}