//
// Progress bars
// --------------------------------------------------


// Bar animations
// -------------------------

// WebKit
// @-webkit-keyframes progress-bar-stripes
//   from
//     background-position 40px 0
//   to
//     background-position 0 0

// Spec and IE10+
@keyframes progress-bar-stripes
  from
    background-position 40px 0
  to
    background-position 0 0


// Bar itself
// -------------------------

// Outer container
.progress
  overflow hidden
  height 20px
  margin-bottom 10px
  background-color color-darkest

// Bar of progress
.progress-bar
  float left
  width 0%
  height 100%
  fs 1.2rem
  color color-lightest
  background-color color-primary
  transition width .6s ease
  
@css {
  .progress-bar {
    text-align: center;
  }
}

// Striped bars
//
// `.progress-striped .progress-bar` is deprecated as of v3.2.0 in favor of the
// `.progress-bar-striped` class, which you just add to an existing
// `.progress-bar`.
.progress-striped .progress-bar,
.progress-bar-striped
  gradient-striped()
  background-size 40px 40px

// Call animation for the active one
//
// `.progress.active .progress-bar` is deprecated as of v3.2.0 in favor of the
// `.progress-bar.active` approach.
.progress.active .progress-bar,
.progress-bar.active
  animation progress-bar-stripes 2s linear infinite