// Variables
$color-longerdays: #409ece;

.longerdays {
    .header {
        background-color: $color-longerdays;
        background-image: url('../images/case-studies/longerdays/bg_pattern.png');
        background-position: center center;
        background-attachment: fixed;
    }
    
    .site-title a {
        color: $color-lightest;
        border-color: $color-lightest;
        
        &:hover {
            color: $color-dark;
            border-color: $color-dark;
        }
    }
    
    .navigation-list a {
        color: $color-lightest;
    }
    
    .page-title {
        color: $color-lightest;
        margin: ms(6) 0;
    }
}