@import "_vendor/jeet/jeet";
@import "_vendor/bourbon/bourbon";
@import "functions";
@import "variables";

@import "_vendor/normalize";
@import "_modules/animations";


/**
 * Global
 */
 
 html {
 	font-size: 100%;
}

* {
	box-sizing: border-box;
}
 	
.narrow {
    padding: 0 20px;
	@include j-center(650px);
	
	@media #{$device-medium} {
		padding: 0;
    }
    
    &.extra {
        @include j-center(400px);
    }
}
 	
/**
 * Typography
 */
 
body {
	font-size: rem(18);
	font-family: $font-secondary;
    background-color: $color-lightest;
    color: $color-dark;
    
    @media #{$device-medium} {
		padding: 30px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-primary;
	color: $color-dark;
}

h1 {
    font-size: rem(46);
}

h2 {
    font-size: rem(38);
}

h3 {
    font-size: rem(24);
}

h4 {
    font-size: rem(20);
}

h5 {
    font-size: rem(18);
}

h6 {
    font-size: rem(16);
}
	
.group-title {
	font-weight: 300;
}
	
p {
	paragraph: 1rem;
}

.lead {
	font-size: rem(20);
	font-weight: 300;
}
	
a {
	color: $color-primary;
    text-decoration: none;
	
	&:hover {
		border: 0;
    }
}
	
blockquote {
	//blockquote($color-light);
}

.align-image-center {
	margin: 0 auto;
	display: block;
}	
	
.skill-list,
.accolade-list,
.social-list {
	@include ul('circle');
	margin: 0;
	padding: 0 20px;
    color: $color-medium;
    
    &.plain {
       @include ul('none'); 
       padding: 0;
       margin: 0;
    }
 
	
	@media #{$device-medium} {
		padding: 0;
    }
}
	
/**
 * Grid
 */
 
.container {
	@include j-center(1100px);
	@include clearfix;
}

.header-title {
	@include j-column(1);
	
	@media #{$device-medium} {
		@include j-column(2/5);
    }
}

.header-menu {
	@include j-column(1);
	
	@media #{$device-medium} {
		@include j-column(3/5);
    }
}
		
.talents,
.footer {
	
	.narrow {
		
		@media #{$device-medium} {
			@include j-center(300px);
        }
			
		@media #{$device-large} {
			@include j-center(400px);
        }
    }
}

/**
 * Buttons
 */
 
button,
.button {
    color: $color-medium;
    padding: 10px 20px;
	background-color: transparent;
	border: 2px solid $color-medium;
	font-family: $font-primary;
	font-weight: 300;
	border-radius: 0;
	position: relative;
	transition: all .5s ease-in;
	outline: none;
	box-shadow: none;
	
	&:hover {
		background-color: $color-medium;
		color: $color-darker;
		text-decoration: none;
    }
}
		
.read-more {
    color: $color-dark;
    padding: 0 12px;
	background-color: $color-darker;
	border-radius: 0;
	border: 2px solid $color-dark;
	font-weight: 300;
	
	&:hover {
		border: 2px solid $color-dark;
		background-color: $color-dark;
		color: $color-light;
    }
	
	@media #{$device-medium} {
		float: right;
    }
}
		
/**
 * Structure
 */
 
.group {
	@include j-column(1);
	padding: 40px 20px;
	
	@media #{$device-medium} {
		@include j-column(1/2, $gutter: 0);
		padding: 80px 0;
    }
    
   &.full-span {
       @include j-column(1);
   }
}
		
.skills,
.accolades {
	
	&.group {
		padding: 60px 20px 40px;
		
		@media #{$device-medium} {
			padding: 80px 0 80px;
        }
    }
}
		
/**
 * Contact Form
 */

.contact-form {
	@include clearfix;
	
	input[type="email"],
	input[type="text"],
	textarea {
		background-color: $color-darker;
        color: $color-light;
		border: 0;
		border-radius: 0;
		padding: 10px;
		@include set-placeholder-style(color, $color-medium);
		transition: background-color .5s ease-in-quart;
		
		@media #{$device-medium} {
			@include set-placeholder-style('text-align', right);
            
            .contact & {
                @include set-placeholder-style('text-align', left);
            }
        }
		
		&:focus {
			outline: none;
			background-color: $color-darkest;
        }
    }

	textarea {
		//field(100%);
		height: 200px;
		resize: none;
    }
		
	input,
	textarea,
	button {
		@include j-stack();
		margin-bottom: 20px;
    }
		
	button {
		width: 100%;
		float: right;
		text-align: right;
		
		@media #{$device-medium} {
			width: 50%;
        }
    }
}
		
/**
 * Header
 */

.header {
	padding: 20px;
	background-color: $color-light;
    
    .index & {
        display: none;
    }
    
    @media #{$device-medium} {
		.index & {
            display: block;
        }
    }
	
	.index &,
    .contact &,
	.about & {
		background-color: $color-light;
    }
	
	@media #{$device-medium} {
		padding: 30px 0;
    }
    
    @media #{$device-small} {
		padding: 30px;
    }
}
	
.site-title {
	position: relative;
	font-size: rem(30);
	margin: 0;
	padding: 0;
	font-weight: 300;
    

	a {
        padding: 5px 12px;
        border: 2px solid transparent;
        transition: border 1.0s ease-in;
 		transition: background-color 1.5s ease-in;
 		transition: color .5s ease-in;
        color: $color-medium;
		
		&:hover {
            color: $color-dark;
        }
    }
		
	@media #{$device-medium} {
		margin: 0;
    }
}
		
.site-title.align-center {
	
	@media #{$device-medium} {
		text-align: left;
    }
}
		
/**
 * Header Navigation
 */
 
.header-menu {
	position: relative;
}
 	
.navigation-list {
	@include inline-list(10px);
	font-family: $font-primary;
	
	@media #{$device-medium} {
		@include j-align(vertical);
		right: 0;
		left: auto;
    }
		
	a {
        position: relative;
 		font-weight: 100;
 		padding: 5px 12px;
        color: $color-medium;
        background: transparent;
        -webkit-transition: -webkit-transform ease-out 0.1s, background 0.2s;
        -moz-transition: -moz-transform ease-out 0.1s, background 0.2s;
        transition: transform ease-out 0.1s, background 0.2s;
        transition: background 1s ease-out;
        
        &:after {
            pointer-events: none;
            position: absolute;
            width: 100%;
            height: 100%;
            content: '';
            -webkit-box-sizing: content-box; 
            -moz-box-sizing: content-box; 
            box-sizing: content-box;
            
            top: 0;
            left: 0;
            padding: 0;
            z-index: -1;
            box-shadow: 0 0 10px 10px rgba(255,255,255,0.2);
            opacity: 0;
            -webkit-transform: scale(0.70);
            -moz-transform: scale(0.70);
            -ms-transform: scale(0.70);
            transform: scale(0.70);
        }

 		&:hover {
            color: $color-light;
            background: $color-dark;
            -webkit-transform: scale(1.5);
            -moz-transform: scale(1.5);
            -ms-transform: scale(1.5);
            transform: scale(1.5);
            
            &:after {
            -webkit-animation: sonarEffect 1s ease-out 75ms;
            -moz-animation: sonarEffect 1s ease-out 75ms;
            animation: sonarEffect 1s ease-out 75ms;
            }
        }
    }
 		
 	.active a {
 		border-color: $color-darkest;
 		color: $color-darkest;
 		
 		&:hover {
 			background-color: $color-darkest;
 			color: $color-light;
         }
     }
}

/**
 * Display for menus
 */
 
#navigation {
	display: none;
	
	@media #{$device-medium} {
		display: block;
    }
}
		
.slicknav_menu {
	display: block;
	
	@media #{$device-medium} {
		display: none;
    }
}
	
/**
 * Home
 */

.introduction {
	background-color: $color-light;
	color: $color-dark;
	position: relative;
    
   .lead {
        margin: 0 auto;
    }
	
	.container {
		padding: 40px 0;
	
		@media #{$device-medium} {
			padding: 80px 0 80px;
        }
    }
}

.introduction-title {
	font-size: rem(46);
	font-weight: 500;
	color: $color-darker;
	margin: 0;
}

.introduction-subtitle {
	font-size: rem(30);
	font-weight: 300;
	color: $color-dark;
	margin: 0;
}
	
.introduction-title-border {
    padding-bottom: 20px;
	border-bottom: 2px dashed $color-medium;
	@include j-center(260px);
	margin-bottom: 20px;
}
	
.talents {
	color: $color-medium;
	@include clearfix;
	
	.group-title {
		color: $color-lighter;
		display: inline-block;
		padding: 5px 20px;
    }
}
		
.accolades {
	background-color: darken($color-darker, 1);
	
	.group-title {
        margin-top: 0;
		background-color: $color-darkest;
    }
}

.skills {
	background-color: lighten($color-darker, 1);
	
	.group-title {
        margin-top: 0;
		background-color: $color-darkest;
    }
    
	.narrow {
		
		@media #{$device-medium} {
			text-align: right;
        }
    }
}
			
.skill-list {
	list-style-type: none;
	direction: ltr;
	
	.skill-row {
		position: relative;
		@include clearfix;
    }
}
		
.skill-title {
    font-size: rem(14);
	font-family: $font-secondary;
	color: $color-medium;
	font-weight: 300;
	text-transform: none;
	margin: 0 0 10px;
	position: relative;
	
	@media #{$device-medium} {
		text-align: right;
		@include j-column(3/5);
		margin-bottom: 0;
    }
}

.skill-list .progress {
	position: relative;
	
	@media #{$device-medium} {
		@include j-column(2/5);
    }
}
	
.work {
	padding: 40px 0;
	
	@media #{$device-medium} {
		padding: 80px 0;
    }
		
	.group-title {
		background-color: $color-dark;
		color: $color-lightest;
		padding: 5px 20px;
		display: inline-block;
		margin: 0 auto;
    }
}

/**
 * Sections
 */
 
.contact-section {
    background-color: lighten($color-darkest, 2);
    
    @media #{$device-medium} {
        text-align: right;
    }
}

.social-section {
    background-color: $color-darkest;
}
		
/**
 * Footer
 */

.footer {
	background-color: $color-primary;
	color: $color-lightest;
    font-size: rem(16);
    overflow: hidden;
}

.copyright {
	font-weight: 300;
	margin-top: 60px;
	color: $color-light;
}
	
.colophon {
    font-size: rem(14);
	color: $color-dark;
    margin-top: 40px;
    
    @media #{$device-medium} {
	   margin-left: -20px;
       
       .contact & {
           margin-left: 0;
       }
    }
    
}
	
.social-section,
.contact-section {
	.group-title {
		color: $color-light;
    }
		
	a {
		color: $color-medium;
		
		&:hover {
			color: $color-success;
        }
    }
}

/**
 * Main
 */
 
.main {
	padding: 0 20px;
	
	@media #{$device-medium} {
		padding: 20px 0 60px;
    }
}

/**
 * Pages
 */

.page-title {
    font-weight: 400;
}

.about-feature {
    margin-bottom: 40px;
}
	
/**
 * Articles
 */
 
.article-block {
	border-bottom: 4px solid $color-medium;
	background-color: $color-lighter;
	padding: 20px;
	margin-bottom: 20px;
	@include clearfix;
	
	.entry-title {
		margin: 0;
    }
	
	.entry-title a {
		color: $color-dark;
		font-weight: 900;
    }
}
		
/**
 * Article
 */
 
.article-container {
	@include j-center(800px);
}
	
.article-entry {

	.entry-title {
		color: $color-dark;
		font-weight: 900;
		margin-bottom: 0;
    }
}
 
.article-entry p {
	font-size: rem(12);
	font-weight: 300;
}
	
/**
 * Work Group
 */
 
.work-group {
	@include clearfix;
}

.work-item-title {
	color: $color-dark;
	padding: 20px;
	width: 100%;
	margin: 0;
	font-weight: 300;
	font-size: rem(14);
	text-align: center;
}

.work-item {
	position: relative;
	//@include j-column(.5, $cycle: 2, $uncycle: 2, $gutter: 0);
		
	@media #{$device-medium} {
		//@include j-column(.25, $cycle: 4, $uncycle: 2, $gutter: 0);
    }
    
	a {
		display: block;
		width: 100%;
		height: inherit;
		padding-bottom: 100%;
		background-color: #FFF;
		background-size: cover;
		background-position: 50%;
		text-align: center;
    }
}

.align-center {
    text-align: center;
}

@import "_vendor/slicknav";
@import "_modules/progress";