/**
 * My Animations
 */

@-webkit-keyframes sonarEffect {
	0% {
		opacity: 0.3;
	}
	40% {
		opacity: 0.5;
		box-shadow: 0 0 0 10px rgba($color-light,0.1), 0 10px 5px 5px rgba($color-darker, .5), 0 0 0 10px rgba($color-light,0.5);
	}
	100% {
		box-shadow: 0 0 0 10px rgba($color-light,0.1), 0 10px 5px 5px rgba($color-darker, .5), 0 0 0 10px rgba($color-light,0.5);
		-webkit-transform: scale(1.2);
		opacity: 0;
	}
}
@-moz-keyframes sonarEffect {
	0% {
		opacity: 0.3;
	}
	40% {
		opacity: 0.5;
		box-shadow: 0 0 0 10px rgba($color-light,0.1), 0 0 5px 5px rgba($color-darker, .5), 0 0 0 10px rgba($color-light,0.5);
	}
	100% {
		box-shadow: 0 0 0 10px rgba($color-light,0.1), 0 0 5px 5px rgba($color-darker, .5), 0 0 0 10px rgba($color-light,0.5);
		-moz-transform: scale(1.2);
		opacity: 0;
	}
}
@keyframes sonarEffect {
	0% {
		opacity: 0.3;
	}
	40% {
		opacity: 0.5;
		box-shadow: 0 0 0 10px rgba($color-light,0.1), 0 0 5px 5px rgba($color-darker, .5), 0 0 0 10px rgba($color-light,0.5);
	}
	100% {
		box-shadow: 0 0 0 10px rgba($color-light,0.1), 0 0 5px 5px rgba($color-darker, .5), 0 0 0 10px rgba($color-light,0.5);
		transform: scale(1.2);
		opacity: 0;
	}
}

@-webkit-keyframes progress {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -60px -60px;
  }
}
@-moz-keyframes progress {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -60px -60px;
  }
}
@-ms-keyframes progress {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -60px -60px;
  }
}
@-o-keyframes progress {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -60px -60px;
  }
}
@keyframes progress {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -60px -60px;
  }
}



@-webkit-keyframes rainbow-color {
	0% {color: $color-danger;}
	15% {color: $color-alert;}
	30% {color: $color-warning;}
	45% {color: $color-success;}
	60% {color: $color-info;}
	75% {color: $color-primary;}
	90% {color: $color-secondary;}
	100% {color: $color-tertiary;}
}
@-ms-keyframes rainbow-color {
	0% {color: $color-danger;}
	15% {color: $color-alert;}
	30% {color: $color-warning;}
	45% {color: $color-success;}
	60% {color: $color-info;}
	75% {color: $color-primary;}
	90% {color: $color-secondary;}
	100% {color: $color-tertiary;}
}
@-o-keyframes rainbow-color {
	0% {color: $color-danger;}
	15% {color: $color-alert;}
	30% {color: $color-warning;}
	45% {color: $color-success;}
	60% {color: $color-info;}
	75% {color: $color-primary;}
	90% {color: $color-secondary;}
	100% {color: $color-tertiary;}
}
@keyframes rainbow-color {
	0% {color: $color-danger;}
	15% {color: $color-alert;}
	30% {color: $color-warning;}
	45% {color: $color-success;}
	60% {color: $color-info;}
	75% {color: $color-primary;}
	90% {color: $color-secondary;}
	100% {color: $color-tertiary;}
}

@-webkit-keyframes rainbow-border {
	0% {border-color: $color-danger;}
	15% {border-color: $color-alert;}
	30% {border-color: $color-warning;}
	45% {border-color: $color-success;}
	60% {border-color: $color-info;}
	75% {border-color: $color-primary;}
	90% {border-color: $color-secondary;}
	100% {border-color: $color-tertiary;}
}
@-ms-keyframes rainbow-border {
	0% {border-color: $color-danger;}
	15% {border-color: $color-alert;}
	30% {border-color: $color-warning;}
	45% {border-color: $color-success;}
	60% {border-color: $color-info;}
	75% {border-color: $color-primary;}
	90% {border-color: $color-secondary;}
	100% {border-color: $color-tertiary;}
}
@-o-keyframes rainbow-border {
	0% {border-color: $color-danger;}
	15% {border-color: $color-alert;}
	30% {border-color: $color-warning;}
	45% {border-color: $color-success;}
	60% {border-color: $color-info;}
	75% {border-color: $color-primary;}
	90% {border-color: $color-secondary;}
	100% {border-color: $color-tertiary;}
}
@keyframes rainbow-border {
	0% {border-color: $color-danger;}
	15% {border-color: $color-alert;}
	30% {border-color: $color-warning;}
	45% {border-color: $color-success;}
	60% {border-color: $color-info;}
	75% {border-color: $color-primary;}
	90% {border-color: $color-secondary;}
	100% {border-color: $color-tertiary;}
}