/**
 * Base
 */
 
 html {
 	font-size: 100%;
}

* {
	box-sizing: border-box;
}

::selection {
  background: $color-success; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: $color-success; /* Gecko Browsers */
}

body {
    font-size: ms(1);
    line-height: 1.5;
    font-family: $font-secondary;
    background-color: $color-darkest;
    color: $color-dark;
    @extend %pattern-2;
    background-size: ms(4) ms(4);
    letter-spacing: rem(.4);
    
    @media #{$device-medium} {
		padding: ms(3);
    }
}

img {
  max-width: 100%;
}


/**
 * Main
 */

.main {
    padding: 0 ms(1);
    background-color: $color-light;
    overflow: hidden;

    .my-work & {
        padding: 0;
    }

    @media #{$device-small} {
        padding: ms(1) ms(1) ms(6);
    }

    @media #{$device-xl} {
        padding: ms(1) 0 ms(6);
    }
} //.main