/**
 * Figures & Images
 */
 
figure {

    &.full-width {
        margin: ms(3) 0;
    }

    &.expanded {
        margin: ms(3) 0;
        
        @media #{$device-medium} {
            margin: ms(5) (- ms(6));
        }
    }
    
    &.matte {
        margin: ms(2) 0 0;
    
        img {
            display: block;
        }
    }
    
    img {
        width: 100%;
    }
}

figcaption {
    font-size: ms(0);
    line-height: ms(1);
    font-style: italic;
    text-align: center;
    margin-top: ms(0);
    color: lighten($color-darker, 25%);
}