/**
 * Header
 */

.header {
    position: relative;
    padding: ms(1);
    background-color: $color-light;
    z-index: 1;
    
    @media #{$device-medium} {
        .index & {
            display: block;
        }
    }
    
    .contact &,
    .about & {
        background-color: $color-light;
    }
    
    .index & {
        background-color: transparent;
        margin-bottom: - ms(9);
        
        @media #{$device-medium} {
            background-color: transparent;
            margin-bottom: - ms(9);
        }
    }
    
    @media #{$device-medium} {
        padding: ms(3) 0;
    }
    
    @media #{$device-small} {
        padding: ms(3);
    }
}
    
.site-title {
    position: relative;
    font-size: ms(3);
    margin: 0;
    padding: 0;
    font-weight: 300;
    
    a {
        display: inline-block;
        padding: ms(0) ms(0);
        color: $color-medium;
        border: 2px solid $color-medium;
        line-height: 1;
        font-weight: bold;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2f0ec+0,70b0e0+100&1+0,0+100 */
        background: -moz-linear-gradient(45deg,  rgba(242,240,236,1) 0%, rgba(112,176,224,0) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(45deg,  rgba(242,240,236,1) 0%,rgba(112,176,224,0) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(45deg,  rgba(242,240,236,1) 0%,rgba(112,176,224,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f0ec', endColorstr='#0070b0e0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        transition: border 1s ease-in, color 1s ease-in;
        
        .index & {
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#515151+0,70b0e0+100&1+0,0+100 */
            background: -moz-linear-gradient(45deg,  rgba(81,81,81,1) 0%, rgba(112,176,224,0) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(45deg,  rgba(81,81,81,1) 0%,rgba(112,176,224,0) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(45deg,  rgba(81,81,81,1) 0%,rgba(112,176,224,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#515151', endColorstr='#0070b0e0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        }

        &:hover {
            color: $color-darker;
            border-color: $color-darker;
            background-color: $color-dark;
            animation: progress 2s linear infinite;
            @extend %pattern-2;
            background-size: ms(4) ms(4);
        } // hover
    }
    
    @media #{$device-medium} {
        margin: 0;
    }
}

.site-title.align-center {
    
    @media #{$device-medium} {
        text-align: left;
    }
}
        
/**
 * Header Navigation
 */
 
.header-menu {
    position: relative;
}
     
.navigation-list {
    @include inline-list(10px);
    font-family: $font-primary;
    
    @media #{$device-medium} {
        @include j-align(vertical);
        right: - ms(-1);
        left: auto;
    }
        
    a {
        position: relative;
        font-weight: 100;
        padding: ms(-3) ms(-1);
        color: $color-medium;
        background: transparent;
        transition: transform ease-out 0.1s, background 1s ease-out, color 1s ease-out;
        
        &:after {
            pointer-events: none;
            position: absolute;
            width: 100%;
            height: 100%;
            content: '';
            -webkit-box-sizing: content-box; 
            -moz-box-sizing: content-box; 
            box-sizing: content-box;
            
            top: 0;
            left: 0;
            padding: 0;
            z-index: -1;
            box-shadow: 0 0 10px 10px rgba(255,255,255,0.2);
            opacity: 0;
            -webkit-transform: scale(0.70);
            -moz-transform: scale(0.70);
            -ms-transform: scale(0.70);
            transform: scale(0.70);
        }

         &:hover {
            color: $color-light;
            background: $color-dark;
            -webkit-transform: scale(1.5);
            -moz-transform: scale(1.5);
            -ms-transform: scale(1.5);
            transform: scale(1.5);
            
            .index & {
                background: $color-darker;
            }
            
            &:after {
            -webkit-animation: sonarEffect 1s ease-out 75ms;
            -moz-animation: sonarEffect 1s ease-out 75ms;
            animation: sonarEffect 1s ease-out 75ms;
            }
        }
    }
         
     .active a {
         border-color: $color-darkest;
         color: $color-darkest;
         
         &:hover {
             background-color: $color-darkest;
             color: $color-light;
         }
     }
}

/**
 * Display for menus
 */
 
#navigation {
    display: none;
    
    @media #{$device-medium} {
        display: block;
    }
}
        
.slicknav_menu {
    display: block;
    
    @media #{$device-medium} {
        display: none;
    }
}