//
// Progress bars
// --------------------------------------------------


// Bar animations
// -------------------------

// WebKit
// @-webkit-keyframes progress-bar-stripes
//   from
//     background-position 40px 0
//   to
//     background-position 0 0

// Spec and IE10+
@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}


// Bar itself
// -------------------------

// Outer container
.progress {
  overflow: hidden;
  height: 20px;
  margin-bottom: ms(-2);
  background-color: $color-lighter;
}

// Bar of progress
.progress-bar {
  float: left;
  width: 0%;
  height: 100%;
  color: $color-lightest;
  background-color: $color-info;
  transition: width .6s ease;
  text-align: center;
  
  &.progress-css {
      background-color: $color-alert;
  }
  &.progress-wordpress {
      background-color: $color-info;
  }
  &.progress-rwd {
      background-color: $color-alert;
  }
  &.progress-ssg {
      background-color: $color-info;
  }
  &.progress-tasks {
      background-color: $color-danger;
  }
  &.progress-wireframing {
      background-color: $color-medium;
  }
  &.progress-php {
      background-color: $color-secondary;
  }
  &.progress-js {
      background-color: $color-success;
  }
}

// Striped bars
//
// `.progress-striped .progress-bar` is deprecated as of v3.2.0 in favor of the
// `.progress-bar-striped` class, which you just add to an existing
// `.progress-bar`.
.progress-striped .progress-bar,
.progress-bar-striped {
  @extend %pattern-1;
  background-size: ms(1) ms(1);
}

// Call animation for the active one
//
// `.progress.active .progress-bar` is deprecated as of v3.2.0 in favor of the
// `.progress-bar.active` approach.
.progress.active .progress-bar,
.progress-bar.active {
    animation: progress 5s linear infinite;
    -moz-animation: progress 5s linear infinite;
    -webkit-animation: progress 5s linear infinite;
    -ms-animation: progress 5s linear infinite;
    -o-animation: progress 5s linear infinite;
}