/**
 * Structure
 */
 
.container {
	@include j-center(1100px);
	@extend .clearfix;
}

.narrow {
    padding: 0 ms(0);
	
	@media #{$device-medium} {
		padding: 0;
		@include j-center(650px);
    }
    
    &.extra {
        @include j-center(400px);
    }
}

%span-column {
    @include j-column(1, $gutter: 0);
}

%half-span-column {
    @include j-column(.5, $cycle: 2, $gutter: 6);
}

.header-title {
	@include j-column(1);
	
	@media #{$device-medium} {
		@include j-column(2/5);
    }
}

.header-menu {
	@include j-column(1);
	
	@media #{$device-medium} {
		@include j-column(3/5);
    }
}

.introduction {
	.content {
		@include j-column(1);
		@media #{$device-medium} {
			@include j-column(1/2);
    	}
	}
	.media {
		@include j-column(1);
		@media #{$device-medium} {
			@include j-column(1/2);
    	}
	}
}
		
.talents,
.footer,
.introduction {
	
	.narrow {
		
		@media #{$device-medium} {
			@include j-center(300px);
        }
			
		@media #{$device-large} {
			@include j-center(400px);
        }
    }
}

.group {
	@include j-column(1);
	padding: ms(4) ms(0);
	
	@media #{$device-medium} {
		@include j-column(1/2, $gutter: 0);
		padding: ms(6) 0;
    }
    
   &.full-span {
       @include j-column(1);
   }
}
		
.skills,
.accolades {
	
	&.group {
		padding: ms(4) ms(0) ms(0);
		
		@media #{$device-medium} {
			padding: ms(4) 0 ms(4);
        }
    }
}