/**
 * Utilities
 */
 
 /**
  * Prevent FOUT (Flash of Unstyled Text)
  */
.wf-loading {
    visibility: hidden;
}

.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.align-image-center {
	margin: 0 auto;
	display: block;
}

.clearfix {
    @include clearfix;
}

/**
 * Cool FX
 */

.glow {
    transition: all .5s ease-in-out;
}
.glow:hover {
    &.danger {
        color: $color-danger;
    }
}

// Used for showing vertical rhythm alignment.
// .grid-guide {
//     border: 2px solid $color-medium;
//     background-color: $color-lightest;
//     padding: 0 ms(3) ms(3);
//     background-image: linear-gradient(to bottom, rgba($color-primary, .3) 1px, transparent 1px);
//     background-position: left -1px;
//     background-repeat: repeat;
//     background-size: ms(3) ms(3);
//     box-sizing: content-box;
// }